<div ng-controller="MusicUpdateCtrl">
    <h2>Music Update</h2>
    <form name="musicForm" ng-submit="updateMusic(music)">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" placeholder="title" required ng-model="music.title">
        </div>
        <div class="form-group">
            <label for="singer">가수</label>
            <input type="text" class="form-control" id="singer" placeholder="singer" required ng-model="music.singer">
        </div>
        <div class="form-group">
            <label for="year">년도</label>
            <input type="text" class="form-control" id="year" placeholder="year" ng-model="music.year">
        </div>
        <div class="form-group">
            <label for="members">멤버명</label>
            <input type="text" class="form-control" id="members" placeholder="members" ng-model="music.members">
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="musicForm.$invalid">Update</button>
    </form>
</div>